@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

* {
  margin: 0;
  padding: 0;
  /* font-size: 16px; */
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}

:root {
  --Navy: #0a192f;
  --LightNavy: #112240;
  --LightestNavy: #233554;
  --Slate: #8892b0;
  --LightSlate: #a8b2d1;
  --LightestSlate: #ccd6f6;
  --White: #e6f1ff;
  --Green: #64ffda;
  --consolas: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

body {
  background: linear-gradient(30deg, var(--Navy), var(--LightNavy));
  min-height: 100vh;
}
.video-app {
  .header {
    display: flex;
    justify-content: center;
    padding: 0.6em 5%;
    color: var(--Green);
    font-size: 2em;
    font-weight: 600;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .container {
    display: flex;
    flex-direction: column;
    padding: 1% 5%;
    .video-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 10px;
      .video {
        width: 40%;

        transition: 1s ease;

        position: relative;
        .nameholder {
          padding: 10px;
          position: absolute;
          bottom: 0;
          left: 0;
          background: #0008;
          color: #fff;
          z-index: 2;
        }
        video {
          animation: fadeIn 1s ease;
          width: 100%;
          aspect-ratio: 4/3;
        }
      }
    }
    .tools {
      background: #fff1;
      border-radius: 10px;
      padding: 2%;
      margin: 2% auto;
      width: 95%;
      max-width: 800px;
      display: flex;
      justify-content: space-around;
      & > div {
        color: #fff;

        width: 45%;
      }
      input {
        width: 100%;
        padding: 1em;
        background: var(--Navy);
        outline: none;
        border: none;
        border-radius: 5px;
        font-size: 1.1em;
        color: #fff;
        margin-bottom: 5px;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    position: relative;
    opacity: 0;
  }
  100% {
    position: relative;
    opacity: 1;
  }
}

.button {
  background: var(--Green);
  color: var(--Navy);
  font-weight: 800;
  padding: 0.6em;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .video {
    width: 95% !important;
  }
}
